.tableHeader{
    padding:1vw 3vw 1vw 3vw;

  
}
.tableRow{
    background-color: rgb(223, 219, 213);
    margin: 1vw;
}

.form{

    border-radius: 1vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    background-color: rgb(229, 238, 247);
}

input[type=text]:focus {
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 5vh;
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
 
  }
  input{
    width: 20vw;
    height: 5vh
  }

  .submitBtn {
    background-color: #052E03;
    color: aliceblue;
    height: 2.5vw;
    width: 11vw;
    border-radius: 2vw;
    border: 0ch;
  }

  .submitBtn:hover{
    background-color: rgb(70, 119, 88);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .back{
    cursor: pointer;
    background: #000;
  }

  .AddRoomBtn{
    background-color: #052E03;
    color: aliceblue;
    height: 2.5vw;
    width: 11vw;
    border-radius: 2vw;
    border: 0ch;
  }

  .AddRoomBtn:hover{
    background-color: rgb(70, 119, 88);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
