.tableHeader, .tableData{
    padding:1vw 3vw 1vw 3vw;
    background-color: rgb(202, 202, 202);
    border:none;
    
  
}
/* .form{
    height: 50vw;
    width:60vw;
    border-radius: 1vw;
    background-color: rgb(229, 238, 247);
} */

/* input[type=text]:focus {
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 5vh;
  } */
 
.btnBox{
  padding-top: 2vw;
}

.bttons:hover{
  background-color: rgb(70, 119, 88);
  color: rgb(255, 255, 255);
  cursor: pointer;

}

.Reportbttons:hover{
  background-color: rgb(70, 119, 88);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
  .butn-box{
    padding-top: 20%;
  }
  .table{
    border-collapse: '50px';
  }

  .bttons{
    background-color: #052E03;
    color: aliceblue;
    height: 2.5vw;
    width: 11vw;
    border-radius: 2vw;
    border: 0ch;
  }

  .Reportbttons{
    background-color: #052E03;
    color: aliceblue;
    height: 2.5vw;
    width: 11vw;
    border-radius: 2vw;
    border: 0ch;
  }