.box{
    height: 47.5vw;
    width: 22vw;
    background-color: #052E03;
    position: absolute;
    
}

.logoBox{
    height: 9vw;
    width:100%;
    background-color: #F1F1F1;
}

.navBtn{
    border: none;
    height: 5vw;
    width: 16vw;
    background-color: transparent;
    color: white;
}

.navBtn:hover{
    background-color: rgb(70, 119, 88);
    color: rgb(255, 255, 255);
    border-radius: 1vw;
    cursor: pointer;
}
.tRow {
    height: 5vw;
    width: 15vw;
    vertical-align: bottom;
  }


  .imgIcon{
    height: 3vw;
    width: 3vw;
  }

  .h2{
    font-size: 1.5vw;
    font-weight: 600;
    padding-left: 2vw;
    color: white;
    text-underline-offset: 0;
  }

a{
  display: inline-block;
  text-decoration: none;
}



  .h2:hover{
    background-color: rgb(70, 119, 88);
    opacity: 0.5;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.5vw;
    height: 3vw;
    width: 8vw;
  }

li{
    list-style-type: none;
  

}

